body {
  font-family: "Segoe UI", sans-serif;
  background: #e24795;
  color: #333;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: rgb(158, 53, 93);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 600px;
}

h1, h2 {
  text-align: center;
  color: #2c3e50;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

input, select, button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #bb1185;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0daf94;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.summary {
  margin-top: 15px;
  background: #ecf0f1;
  padding: 10px;
  border-radius: 10px;
}

.excel-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}